#sidenav {
  width: 15%;
}

#topnav ul li:last-child {
  width: 8%;
  margin-left: 3%;
}

#navtabs {
  width: 85%;
}

#navtabs nav {
  width: 80%;
  margin: 4% 8% 2% 10%;
}

#formUnid, #formPC, #formFat, #formHor, #novoUser, #listaUsersng  {
  max-width: 89%;
  margin-left: 5%;
}

#colunaSexo {
  width: 293px !important;
}

#colunaSexo .form .form-inline .form-check {
  margin-left: 34px;
}

#sexoForm {
  margin-left: 124px !important;
}
