@charset "UTF-8";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* CSS do Nav Tabs */
#navtabs {
  order: 3;
  width: 81%;
  height: calc(100% - 50px);
  overflow: scroll;
}

#navtabs nav {
  width: 96%;
  margin: 2%;
}

#navtabs nav ul li .nav-link.active {
  background-color: rgba(0,0,0,.2);
}

/* CSS do Nav superior */
#topnav {
  height: 50px;
  width: 100%;
  background-color: #f5f5f0;
  order: 1;
  outline-width: 0;
  box-shadow: 10px 0 10px 4px rgba(0,0,0,.12);
}

#topnav ul li:last-child {
  width: 12%;
  margin-left: 5%;
  margin-top: .5%;
}

#topnav ul li img {
  width: 100%;
}

#topnav ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topnav li {
  float: right;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topnav #dropdown {
  display: inline-block;
}

#navdropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

#navdropdown a {
  display: block;
  text-align: left;
}

#dropdown:hover #navdropdown {
    display: block;
    right: 1%;
}

/* CSS do Sidenav */
#sidenav {
  order: 2;
  width: 19%;
  height: calc(100% - 50px);
  text-align: center;
  background-color: #f5f5f0;
  box-shadow: 0 10px 10px 4px rgba(0,0,0,.12);
  outline-width: 0;
}

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  text-align: left;
}

#sidenav ul {
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
}

#sidenav a:hover {
  background-color: silver;
}

#sidenav ul li div {
  display: none;
  margin-left: 9%;
  overflow: scroll;
}

#relatoriosMenu {
  height: 300px;
  overflow: scroll;
}

 #formUnid, #formPC, #formFat, #formHor {
   display: none;
 }
