#sidenav {
  width: 13%;
}

#topnav ul li:last-child {
  width: 7.3%;
  margin-left: 3%;
}

#navtabs {
  width: 87%;
  justify-content: center;
}

#navtabs nav {
  width: 80%;
  margin: 4% 9% 3% 9%;
}

#formUnid, #formPC, #formFat, #formHor, #clienteNovoTela1 {
  max-width: 72%;
  margin-left: 15%;
}

#colunaSexo {
  width: 293px !important;
}

#colunaSexo .form .form-inline .form-check {
  margin-left: 34px;
}

#sexoForm {
  margin-left: 124px !important;
}
