<div id="clienteNovoTela1" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="header">
              <h2 class="ml-3 blue-text">Dados Pessoais</h2>
            </div>
          </div>
        </div>
        <hr class="text-left">
        <div class="form-row mt-1">
          <div class="col-md-2" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="cpfForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"  maxlength="14">
                <label for="cpfForm">CPF</label>
            </div>
          </div>
          <div class="col-md-2" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="rgForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"  maxlength="12">
                <label for="rgForm">RG</label>
            </div>
          </div>
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="nascimentoForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"   maxlength="10">
                <label id="nascLabel" for="nascimentoForm">Data de Nascimento</label>
            </div>
          </div>
          <div id="colunaIdade" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="idadeForm" class="form-control">
                <label id="idadeLabel" for="idadeForm">Idade(anos)</label>
            </div>
          </div>
          <div class="justify-content-center ml-3" id="colunaSexo" style="height:52px;">
            <div class="form justify-content-center">
              <label class="ml-5 container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" id="sexoForm" for="sexoForm">Sexo: </label>
              <br>
              <div class="form-inline">
                <div class="form-check">
                  <input class="form-check-input" name="group100" type="radio" id="radio100">
                  <label class="form-check-label" for="radio100">masculino</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="group100" type="radio" id="radio101" checked>
                  <label class="form-check-label" for="radio101">feminino</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="nomeForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"  >
                <label for="nomeForm">Nome Completo</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6" style="height:52px;">
            <div class="md-form form-group" id="colEmail">
                <input type="email" id="emailPrincipalForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"  >
                <label for="emailPrincipalForm" id="emailLabel">E-mail Principal</label>
            </div>
          </div>
          <div class="col-md-6" style="height:52px;">
            <div class="md-form form-group">
                <input type="email" id="emailSecundarioForm" class="form-control" >
                <label for="emailSecundarioForm">E-mail Secundário</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="tel" id="telefoneForm" class="form-control"  maxlength="13">
                <label for="telefoneForm">Telefone Fixo 1</label>
            </div>
          </div>
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="tel" id="telefone2Form" class="form-control"  maxlength="13">
                <label for="telefone2Form">Telefone Fixo 2</label>
            </div>
          </div>
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="tel" id="celularForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"   maxlength="14">
                <label for="celularForm">Celular 1</label>
            </div>
          </div>
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="tel" id="celular2Form" class="form-control"  maxlength="14">
                <label for="celular2Form">Celular 2</label>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="header">
              <h2 class="ml-3 blue-text">Endereço</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row mt-1">
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="cepForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"   maxlength="9">
                <label for="cepForm">CEP</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="logradouroForm" class="form-control" >
                <label for="logradouroForm">Logradouro</label>
            </div>
          </div>
          <div class="col-md-1" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="numeroForm" class="form-control" >
                <label for="numeroForm">Número</label>
            </div>
          </div>
          <div class="col-md-5" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="complementoForm" class="form-control" >
                <label for="complementoForm">Complemento</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="bairroForm" class="form-control" >
                <label for="bairroForm">Bairro</label>
            </div>
          </div>
          <div class="col-md-5" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="cidadeForm" class="form-control" >
                <label for="cidadeForm">Cidade</label>
            </div>
          </div>
          <div class="col-md-2" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="estadoForm" class="form-control" >
                <label for="estadoForm">Estado</label>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="header">
              <h2 class="ml-3 blue-text">Login</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row mt-1">
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="text" id="loginForm" class="form-control" >
                <label for="loginForm">Login</label>
            </div>
          </div>
          <div class="col-md-3" style="height:52px;">
            <div class="md-form form-group">
                <input type="password" id="senhaForm" class="form-control container: 'body'" data-toggle="tooltip" data-placement="top" title="Campo obrigatório"  >
                <label for="senhaForm">Senha</label>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="form-row">
          <div class="col-md-12" style="height:52px;">
            <input class="form-check-input" type="checkbox" value="" id="politicaForm">
            <label class="form-check-label" for="politicaForm">
                Concordo com as políticas do site, incluindo a política de privacidade
                , que descreve como as informações coletadas no cadastro são usadas.
            </label>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12" style="height:52px;">
            <button id="bTela1" type="button" class="btn btn-light-blue float-right">Continuar</button>
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>
</div>
