<form id="formHor" class="text-center">
  <!--Dados unidade vinculada-->
  <div class="row">
    <div class="col-md-5">
      <h5 class="font-weight-bold text-left ml-3">A qual unidade é vinculada</h5>
    </div>
  </div>
  <!--Dados Unidade vinculada-->
  <!--Linha do CNPJ-->
  <div class="row ml-1 mr-1">
    <div class="col-md-4">
      <div class="md-form mb-0">
        <input type="text" id="cnpjPC" class="form-control validate" placeholder="233231312/123-12" disabled>
        <label for="cnpjPC" data-error="wrong" data-success="right">CNPJ</label>
      </div>
    </div>
  </div>
  <!--Linha do CNPJ-->
  <!--Linha da Razao Social e Nome Fantasia-->
  <div class="row ml-1 mr-1">
    <div class="col-md-6">
      <div class="md-form mb-0">
        <input type="text" id="razaoSocialPC" class="form-control validate" placeholder="Empresa LTDA" disabled>
        <label for="razaoSocialPC" data-error="wrong" data-success="right">Razão Social</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form mb-0">
        <input type="text" id="nomeFantasiaPC" class="form-control validate" placeholder="Empresa X" disabled>
        <label for="nomeFantasiaPC" data-error="wrong" data-success="right">Nome Fantasia</label>
      </div>
    </div>
  </div>
  <!--Linha da Razao Social e Nome Fantasia-->
  <!--Dados Postos de Coleta-->
  <div class="row mt-5">
    <div class="col-md-5">
      <h5 class="font-weight-bold text-left ml-3">Dados Posto de Coleta</h5>
    </div>
  </div>
  <!--Dados Posto de Coleta-->
  <!--Linha do Nome e Código do PC-->
  <div class="row mx-1 mb-5">
    <div class="col-md-4">
      <div class="md-form mb-0">
        <input type="text" id="nomePC" class="form-control validate" placeholder="Posto de Coleta X" disabled>
        <label for="nomePC" data-error="wrong" data-success="right">Nome</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form mb-0">
        <input type="text" id="codPC" class="form-control validate" placeholder="12312312" disabled>
        <label for="codPC" data-error="wrong" data-success="right">Código</label>
      </div>
    </div>
  </div>
  <!--Linha do Nome e Código do PC-->
  <!--Tabela de Horarios-->
  <div class="card card-cascade narrower mt-5">
    <div class="view view-cascade gradient-card-header rgba-teal-strong narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">
      <a href="" class="white-text mx-3"> Horários</a>
    </div>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-responsive-md text-center">
          <tr>
            <th class="text-center">Dia da Semana</th>
            <th class="text-center">Atende</th>
            <th class="text-center">Horário Inicio</th>
            <th class="text-center">Horário Final</th>
            <th class="text-center">Inicio Coleta</th>
            <th class="text-center">Fim Coleta</th>
          </tr>
          <tr>
            <td class="pt-3-half" contenteditable="true">Domingo</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende1">
                <label class="form-check-label" for="atende1"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true">Segunda</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende2">
                <label class="form-check-label" for="atende2"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true">Terça</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende3">
                <label class="form-check-label" for="atende3"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <!-- This is our clonable table line -->
          <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Quarta</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende4">
                <label class="form-check-label" for="atende4"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Quinta</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende5">
                <label class="form-check-label" for="atende5"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Sexta</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende6">
                <label class="form-check-label" for="atende6"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Sábado</td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="atende7">
                <label class="form-check-label" for="atende7"></label>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!--Tabela de Lista de Faturamentos-->
  <!-- Botoes do fim da tab -->
  <button type="button" class="btn btn-primary btn-rounded waves-effect mt-3">Tabelas Preços</button>
  <button type="button" class="btn btn-default btn-rounded waves-effect mt-3">Usuários</button>
  <button type="button" class="btn btn-info btn-rounded waves-effect mt-3">Bloquear</button>
  <button type="button" class="btn btn-success btn-rounded waves-effect mt-3">Observações</button>
  <button type="button" class="btn btn-warning btn-rounded waves-effect mt-3">Editar</button>
  <button type="button" class="btn btn-danger btn-rounded waves-effect mt-3">Salvar</button>
  <!-- Botoes do fim da tab -->
</form>
