<section id="sidenav">
  <ul class="mt-5 justify-content-flex-start">
    <li>
      <a id="rotinaDiaria"><i class="fa fa-file-text-o mr-2" aria-hidden="true"></i>Rotina Diária</a>
      <div id="rotinaDiariaMenu">
        <ul>
          <li>
            <a id="rdmAtendimento" >Atendimento</a>
          </li>
          <li>
            <a id="rdmProntuario" >Prontuário | Histórico</a>
          </li>
          <li>
            <a id="rdmTriagem">Recebimento de Material | Triagem</a>
          </li>
          <li>
            <a id="rdmResultados">Lançamento de Resultados</a>
          </li>
          <li>
            <a id="rdmSitAtend">Situação de Atendimento</a>
          </li>
          <li>
            <a id="rdmConsPreco">Consultar Preços</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a id="cadastro"><i class="fa fa-address-book mr-2" aria-hidden="true"></i>Cadastro</a>
      <div id="CadastroMenu">
        <ul>
          <li>
            <a id="cadPaciente" >Paciente</a>
          </li>
          <li>
            <a id="cadMed" >Médicos</a>
          </li>
          <li>
            <a id="cadExm">Exames</a>
          </li>
          <li>
            <a id="cadCid">CID</a>
          </li>
          <li>
            <a id="cadLabApoiados">laboratórios Apoiados</a>
          </li>
          <li>
            <a id="cadLabApoio">Laboratórios de Apoio</a>
          </li>
          <li>
            <a id="cadEquip">Equipamentos</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a id="faturamento"><i class="fa fa-money mr-2" aria-hidden="true"></i>Faturamento</a>
      <div id="faturamentoMenu">
        <ul>
          <li>
            <a id="fatCxPart">Caixa Particular</a>
          </li>
          <li>
            <a id="fatFat">Faturamento</a>
          </li>
          <li>
            <a id="fatRepasseMed">Repasse Médico</a>
          </li>
          <li>
            <a id="cadRec">Recibos</a>
          </li>
          <li>
            <a id="cadNF">Notas Fiscais</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a id="relatorios"><i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Relatórios</a>
      <div id="relatoriosMenu">
        <ul>
          <li>
            <a id="relDash">Dashboard - Resumo Geral</a>
          </li>
          <li>
            <a id="relPrevFatConv">Previsão de faturamento por Convenio</a>
          </li>
          <li>
            <a id="relPrevRepasMed">Previsão de Repasse Médicos</a>
          </li>
          <li>
            <a id="relProdMed">Produtividade Médicos</a>
          </li>
          <li>
            <a id="relExmPac">Exames por paciente</a>
          </li>
          <li>
            <a id="relPrecoExm">Preços por Exame</a>
          </li>
          <li>
            <a id="relPendAtend">Pendências de Atendiemento</a>
          </li>
          <li>
            <a id="relCompTabPreco">Comparação Tabelas de Preços / Faturamento</a>
          </li>
          <li>
            <a id="relAtend">Atendimento Realizados X Recebidos</a>
          </li>
          <li>
            <a id="relAuthGuias">Autorização de guias</a>
          </li>
          <li>
            <a id="relPrevFatGuia">Previsão de faturamento por Guia</a>
          </li>
          <li>
            <a id="relPrevFatDia">Previsão de Faturamento por Dia</a>
          </li>
          <li>
            <a id="relEstExmReal">Estatísticas Exames Realizados</a>
          </li>
          <li>
            <a id="relEstConvSint">Estatísticas por Convênio Sintético</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a id="administrativo"><i class="fa fa-tasks mr-2" aria-hidden="true"></i>Administrativo</a>
      <div id="administrativoMenu">
        <ul>
          <li>
            <a id="admUnid" >Unidades</a>
          </li>
          <li>
            <a id="admPC">Postos de Coleta</a>
          </li>
          <li>
            <a id="admMC">Materias de Coleta</a>
          </li>
          <li>
            <a id="admMC">Usuários</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
