<section id="topnav">
  <ul>
    <li id="dropdown">
      <a id="navdropdownbtn">
        <i class="fa fa-user"></i><span class="clearfix d-sm-inline-block">Perfil</span>
      </a>
      <div id="navdropdown">
        <a>Action</a>
        <a>Another action</a>
        <a>Something else here</a>
      </div>
    </li>
    <li >
      <a ><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Apoio, Suporte</span></a>
    </li>
    <li >
      <a ><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contato</span></a>
    </li>
    <li style="float:left;">
      <img src="/img/logo.png" alt="logo">
    </li>
  </ul>
</section>
