<form id="formUnid" class="text-center justify-content-center">
  <!--Dados da unidade-->
  <div class="row">
    <div class="col-md-5">
      <h5 class="font-weight-bold text-left ml-3">Dados da Unidade</h5>
    </div>
  </div>
  <!--Dados da unidade-->
  <!--Linha do CNPJ, IE e data de cadastro-->
  <div class="row ml-1 mr-1 justify-content-center">
      <div class="col-md-4 col">
          <div class="md-form mb-0">
              <input type="text" id="cnpj" class="form-control validate" placeholder="312.463.288-52" disabled>
              <label for="cnpj" data-error="wrong" data-success="right">CNPJ</label>
          </div>
      </div>
      <!--Second column-->
      <div class="col-md-4 col">
          <div class="md-form mb-0">
              <input type="text" id="ie" class="form-control validate" placeholder="24.717.891-3" disabled>
              <label for="ie" data-error="wrong" data-success="right">IE</label>
          </div>
      </div>
      <div class="col-md-4 col">
          <div class="md-form mb-0">
              <input type="text" id="codUnid" class="form-control validate" placeholder="12312312" disabled>
              <label for="codUnid" data-error="wrong" data-success="right">Código Unidade</label>
          </div>
      </div>
  </div>
  <!--Linha do CNPJ, IE e data de cadastro-->
  <!--Linha da Razao Social e Nome Fantasia-->
  <div class="row ml-1 mr-1">
      <!--First column-->
      <div class="col-md-6">
          <div class="md-form mb-0">
              <input type="text" id="razaoSocial" class="form-control validate" placeholder="Maria Eduarda da Silva" disabled>
              <label for="razaoSocial" data-error="wrong" data-success="right">Razão Social</label>
          </div>
      </div>
      <div class="col-md-6">
          <div class="md-form mb-0">
              <input type="text" id="nomeFantasia" class="form-control validate" placeholder="Maria Eduarda da Silva" disabled>
              <label for="nomeFantasia" data-error="wrong" data-success="right">Nome fantasia</label>
          </div>
      </div>
  </div>
  <!--Linha da Razao Social e Nome Fantasia-->
  <!--Endereço-->
  <div class="row mt-5">
    <div class="col-md-5">
      <h5 class="font-weight-bold text-left ml-3">Endereço</h5>
    </div>
  </div>
  <!--Endereço-->
  <!--Linhad do CEP-->
  <div class="row ml-1 mr-1">
    <div class="col-md-3">
      <div class="md-form mb-0">
        <input type="text" id="cpf" class="form-control validate" placeholder="13472-380" disabled>
        <label for="cpf" data-error="wrong" data-success="right">CEP</label>
      </div>
    </div>
  </div>
  <!--Linha do CEP-->
  <!--Linha do logradouro, numero de complemento-->
  <div class="row ml-1 mr-1">
    <div class="col-md-5">
      <div class="md-form mb-0">
        <input type="text" id="logradouro" class="form-control validate" placeholder="Rua São Joaquim" disabled>
        <label for="logradouro" data-error="wrong" data-success="right">Logradouro</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form mb-0">
        <input type="text" id="numero" class="form-control validate" placeholder="890" disabled>
        <label for="numero" data-error="wrong" data-success="right">Número</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="md-form mb-0">
        <input type="text" id="complemento" class="form-control validate" placeholder="casa 71" disabled>
        <label for="complemento" data-error="wrong" data-success="right">Complemento</label>
      </div>
    </div>
  </div>
  <!--Linha do logradouro, numero de complemento-->
  <!--Linha do Bairro, Cidade e estado-->
  <div class="row ml-1 mr-1">
    <div class="col-md-5">
      <div class="md-form mb-0">
        <input type="text" id="bairro" class="form-control validate" placeholder="Cariobinha" disabled>
        <label for="bairro" data-error="wrong" data-success="right">Bairro</label>
      </div>
    </div>
    <div class="col-md-5">
      <div class="md-form mb-0">
        <input type="text" id="cidade" class="form-control validate" placeholder="Americana" disabled>
        <label for="cidade" data-error="wrong" data-success="right">Cidade</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="md-form mb-0">
        <input type="text" id="estado" class="form-control validate" placeholder="SP" disabled>
        <label for="estado" data-error="wrong" data-success="right">Estado</label>
      </div>
    </div>
  </div>
  <!--Linha do Bairro, Cidade e estado-->
  <!--Contato-->
  <div class="row mt-5">
    <div class="col-md-5">
      <h5 class="font-weight-bold text-left ml-3">Contato</h5>
    </div>
  </div>
  <!--Contato-->
  <!--Linha do Email-->
  <div class="row ml-1 mr-1 justify-content-center">
      <!--First column-->
      <div class="col-md-6">
          <div class="md-form mb-0">
              <input type="email" id="nome" class="form-control validate" placeholder="João da Silva" disabled>
              <label for="nome" data-error="wrong" data-success="right">Nome</label>
          </div>
      </div>
      <!--Second column-->
      <div class="col-md-6 ">
          <div class="md-form mb-0">
              <input type="email" id="email" class="form-control validate" placeholder="joaodasilva@hotmail.com" disabled>
              <label for="email" data-error="wrong" data-success="right">E-mail</label>
          </div>
      </div>
  </div>
  <!--Linha do Email-->
  <!--Linha do Telefone-->
  <div class="row ml-1 mr-1">
      <!--First column-->
      <div class="col-md-4">
          <div class="md-form mb-0">
              <input type="tel" id="telPrincipal" class="form-control validate" placeholder="(19) 3466-7156" disabled></input>
              <label for="telPrincipal" data-error="wrong" data-success="right">Telefone 1</label>
          </div>
      </div>
      <div class="col-md-4">
          <div class="md-form mb-0">
              <input type="tel" id="telSecundario" class="form-control validate" placeholder="(19) 3476-1223" disabled></input>
              <label for="telSecundario" data-error="wrong" data-success="right">Telefone 2</label>
          </div>
      </div>
      <div class="col-md-4">
          <div class="md-form mb-0">
              <input type="tel" id="celPrincipal" class="form-control validate" placeholder="(19) 99216-1228" disabled></input>
              <label for="celPrincipal" data-error="wrong" data-success="right">Celular</label>
          </div>
      </div>
  </div>
  <!--Linha do Telefone-->
  <button type="button" class="btn btn-primary btn-rounded waves-effect">Tabelas Preços</button>
  <button type="button" class="btn btn-default btn-rounded waves-effect">Usuários</button>
  <button type="button" class="btn btn-warning btn-rounded waves-effect">Bloquear</button>
  <button type="button" class="btn btn-success btn-rounded waves-effect">Observações</button>
  <button type="button" class="btn btn-info btn-rounded waves-effect">Editar</button>
  <button type="button" class="btn btn-danger btn-rounded waves-effect">Salvar</button>
</form>
